/*
  sm: 600,
  md: 900,
  lg: 1200
*/


/* Left Nav Styles*/
.App {
  font-family: "Quicksand";
  display: flex;
  flex-direction: row; 
}

.LeftNav {
  display: flex;
  flex-direction: column;
  width: 7%;
  height: 100vh;
}

@media (min-width: 500px) {
  .LeftNav {

  }
}

.LeftNavContainer {
  margin-left: 10%;
}

.LeftNavLogo {
  width: '30px';
  height: '30px';
  margin-top: 2%;
}

.LeftNavIconContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15em;
  margin-left: 15px;
}

.LeftNavIcons {
  font-size: 1.5rem;
  margin-bottom: 2em;
  margin-left: 25px;
}

.IconRow {
  display: flex;
  flex-direction: row;
}

.IconHoverBar {
  width: 6px;
  height: 46px;
  background-color: #F9A109;
  border-radius: 0px 4px 4px 0px;
  margin-left: -25px;
  margin-top: -10px;
}

.IconHoverInfo {
  width: 65px;
  height: 20px;
  border-radius: 4px;
  background-color: #454545;
  margin-top: 1px;
  margin-left: 15px;
}

.CartIconBackground {
  border-radius: 28px;
  width: 42px;
  height: 42px;
  background-color: #F9A109;
}

.CartIconContainer {
  position: relative;
  left: 25px;
  width: 20px;
  height: 20px;
  background-color: #EB5757;
  border-radius: 4px;
}

/* Center Styles*/

.CenterContainer {
  width: 90em;
  margin-left: 2%;
  background-color: #f1f1f1;
}

.CenterTitle {
  display: flex;
  flex-direction: row;
  margin-left: 9%;
}

.SearchStyle {
  height: 56px;
  width: 30em;
  margin-top: 2em;
}

.ItemSectionStyle {
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 4%;
}

/* Search Styles*/

.SearchContainer {
  width: 28%;
  background-color: #FFF0DE;
}

.AddItemContainer {
  display: flex;
  flex-direction: row;
  background-color: #80485B;
  border-radius: 24px;
  width: 80%;
  height: 22%;
  margin-top: 17%;
  margin-left: 11%;
}

.AddItemContainer2 {
  display: flex;
  flex-direction: column;
}
